<!--The whole content below can be removed with the new code.-->


<div class="container">

  <div class="row">
    <div class="col-md-3">
        <div class="app-title card-block">
            <h1 class="card-title">
               {{title}}
            </h1>
          </div>
    
        <div class="list-group" style="width:300px">
          <app-films></app-films>
        </div>  
    </div>
    <div class="col-md-8 col-md-offset-1">
      <div class="row">
          <router-outlet></router-outlet>          
      </div>
    </div>
  </div>
    
</div>

 